#
# 'dotfiles' gitignore file (not to be confused with system ignore file)
#


# ignore Emacs config dir, except for init.el
.emacs.d/
!.emacs.d/init.el

# ignore .ssh except for config
.ssh/
!.ssh/config

# ignore ~/Library, except for iterm2 prefs file 
Library/
!Library/Preferences/com.googlecode.iterm2.plist

# everything else
.bash_history
.bash_sessions/
.cups/
.gnupg/
.gnupg_pre_2.1/
.lesshst
.python_history
.viminfo
Applications/
Desktop/
Documents/
Downloads/
Movies/
Music/
Pictures/
Public/
dotfiles/
tmp/
