# MacOS files
.CFUserTextEncoding
.DS_Store
.Trash/

# bash history and session info
.bash_history
.bash_sessions/

# printer stuff
.cups/


# Emacs config dir, except for init.el
.emacs.d/
!.emacs.d/init.el

.gnupg/
.lesshst
.python_history

.ssh/
!.ssh/config

.viminfo
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
dotfiles/
tmp/
