#
# .gitignore for 'dotfiles' repo (not to be confused with system ignore file under .config/
#

#
# Emacs: ignore recovery files '#*#' and the .emacs.d dir, except for init.el
#
\#*\#
.emacs.d/
!.emacs.d/init.el

#
# ssh: Exclude everything in .ssh/ (contains secret keys), except for config file
# 
.ssh/
!.ssh/config

#
# Prefs: ignore everything excep iterm2 preferences file
#
Library/
!Library/Preferences/com.googlecode.iterm2.plist

# ruby crap
.bundle/
.subversion/
.rbenv/

# ignore everything else
.bash_history
.bash_sessions/
.config/gcloud
.config/hub
.cups/
.gem/
.gnupg/
.gnupg_pre_2.1/
.gsutil/
.lesshst
.netrc
.python_history
.vagrant.d/
.pylint.d/
.vim/.netrwhist
.viminfo
.zoomus/
Applications/
Desktop/
Documents/
Downloads/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
dotfiles/
fullstack/
tmp/

